*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style-type: none;
}

input:focus {
  outline: none;
}

.bg-green {
  width: 100vw;
  height: 140px;
  background-color: #009688;
  position: absolute;
  z-index: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #d9dbd4;
  display: flex;
  justify-content: center;
}

.bolzapp {
  width: 75%;
  background-color: #fff;
  margin: 20px 0;
  z-index: 1;
}

/***USER***/

.user {
  width: 30%;
  height: 100%;
  float: left;
  border-right: 1px solid #dbdbdb;
}

.user-menu {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.user-friends {
  height: calc(100% - 120px);
  overflow-y: scroll;
}

.user-img, .profile-img {
  height: 40px;
  border-radius: 50%;
  margin-left: 7px;
}

.user-options {
  color: #80868a;
  font-size: 18px;
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.user-options li:not(:last-child){
  margin-right: 30px;
}

.user-search, .message-send  {
  background-color: #f8f8f8;
  padding: 10px 10px 10px 0;
  display: flex;
  align-content: center;
  border-bottom: 1px solid #dbdbdb;
}

.chat-search, .input-message {
  width: 100%;
  background-color: #fff;
  border: 0px solid;
  border-radius: 20px;
  padding: 10px 10px 10px 50px;
}

.user-search::before {
  color: #a3a3a3;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f002";
  position: relative;
  top: 10px;
  left: 30px;
}

::placeholder {
  color: #a3a3a3;
}

.friend-template {
  justify-content: flex-start;
  padding: 10px;
  border-bottom: 1px solid #eee;
  display: none;
  cursor: pointer;
}

.friend-template.list {
  display: flex;
}

.friend-template.selected {
  background-color: #e9ebeb;
}

.friend-text {
  color: #8b8b8b;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.friend-name {
  color: #2d2d2d;
  font-size: 17px;
  margin-bottom: 5px;
}

.friend-preview {
  font-size: 14px;
}

.friend-preview i {
  margin-right: 3px;
}

.friend-time {
  color: #adaeae;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.friend-img img {
  height: 50px;
  border-radius: 50%;
  margin: 0 10px 0 7px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 7px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(204, 204, 204, .8);
}

/***MESSAGES***/

.messages {
  width: 70%;
  height: 100%;
  background-image: url("img/bg.jpg");
  background-size: 50%;
  background-repeat:repeat;
  float: right;
  position: relative;
  flex-direction: column;
  align-content: space-between;
  display: none;
}

.messages.visible {
  display: flex;
}

.friend-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  margin-left: 15px;
}

.friend-bar-name {
  font-size: 16px;
}

.friend-bar-status {
  color: #a8a8a8;
  font-size: 13px;
}

/* ATTENZIONE_BUG: l'overflow-y sul .main-chat non funziona, devo trovare
un fix per il display: flex che crea questo problema */
.main-chat {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 20px;
}

.message-send {
  color: #949a9c;
  display: flex;
  align-items: center;
}

.input-message {
  font-size: 16px;
  padding-left: 15px;
}

.emoticons, .send-button {
  font-size: 22px;
  padding: 5px 15px;
  cursor: pointer;
}

/**INPUT MESSAGE STYLE**/

.new-message {
  max-width: 75%;
  border-radius: 10px;
  display: flex;
  margin-bottom: 3px;
  padding: 10px;
}

.new-message.usermsg {
  background-color: #dcf8c6;
  align-self: flex-end;
  margin-right: 10%;
}

.new-message.friendmsg {
  background-color: #fff;
  align-self: flex-start;
  margin-left: 10%;
}

.new-message.friendmsg .fa-check {
  display: none;
}

.text-message {
  font-size: 15px;
  margin-right: 20px;
}

.time-message {
  margin-right: 3px;
}

.info-message {
  color: #999;
  font-size: 10px;
  position: relative;
  top: 12px;
  left: 10px;
}

.info-message i {
  margin-bottom: 3px;
}

.template-message {
  display: none;
}

.arrow-option {
  color: #999;
  font-size: 15px;
  position: relative;
  left: 10px;
  cursor: pointer;
  opacity: 0;
}

.arrow-option i {
  height: 100%;
  width: 20px;
}

.message-menu {
  position: absolute;
  background-color: #FFF;
  z-index: 1;
  opacity: 0;
  display: none;
}

.message-menu li {
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
}

.message-menu li:hover {
  background-color: #F4F5F5;
}

.message-menu.dropdown {
  display: block;
}

/**WELCOME SCREEN**/

.welcome-container {
  height: 100%;
  display: flex;
}

.welcome-container.invisible {
  display: none;
}

.welcome-screen {
  width: 100%;
  height: 100%;
  color: #a0abb1;
  background-color: #f7f9fa;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 5px solid #58e870;
}

.welcome-screen img {
  height: 50%;
  margin-bottom: 50px;
}

.welcome-text {
  width: 45%;
  border-bottom: 1px solid #e1e9eb;
}

.welcome-text h1 {
  color: #657177;
  font-size: 33px;
  font-weight: normal;
}

.welcome-text p {
  margin: 30px 0;
}

.welcome-footer {
  margin-top: 30px;
}

.welcome-footer span {
  color: #07bc4c;
  font-weight: bold;
}
